[submodule ".vim/bundle_old/.vim/bundle/neobundle.vim"]
	path = .vim/bundle_old/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
